@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'S-CoreDream-3Light', sans-serif;
}

.id-message {
  margin-top: 10px;
  font-size: 18px;
}

.id-message.success {
  color: green;
}

.id-message.error {
  color: red;
}